<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title fw-bold">Properties</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Nickname</th>
            <th>Address</th>
            <th>Picture</th>
            <th>Bed</th>
            <th>Bath</th>
            <th>Sq ft</th>
            <th>Notes</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @properties.each do |property| %>
            <tr>
              <td><%= property.nickname %></td>
              <td><%= property.address %></td>
              <td><%= property.picture %></td>
              <td><%= property.bed %></td>
              <td><%= property.bath %></td>
              <td><%= property.sq_ft %></td>
              <td><%= property.notes %></td>
              <td><%= link_to 'Show', property %></td>
              <td><%= link_to 'Edit', edit_property_path(property) %></td>
              <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Property', new_property_path %>
    </div>
  </div>
</div>
